In [2]:
import pandas as pd
import numpy as np

from datetime import datetime
import pandas as pd 

#from scipy import optimize
#from scipy import integrate

%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

import seaborn as sns


sns.set(style="darkgrid")

mpl.rcParams['figure.figsize'] = (16, 9)
pd.set_option('display.max_rows', 500)

from scipy import optimize
from scipy import integrate

In [3]:
# try to parse the dates right at the beginning 
# it works out of the box if the date was stored ISO YYYY-MM-DD format

df_analyse=pd.read_csv('C:/ProgramData/Anaconda3/eps_covid19/data/processed/COVID_small_flat_table.csv',sep=';')  
df_analyse.sort_values('date',ascending=True).tail()

           date  Albania    India   Italy  Germany       US
212  2020-08-21     8119  2975701  257065   233029  5622540
213  2020-08-22     8275  3044940  258136   233861  5667112
214  2020-08-23     8427  3106348  259345   234494  5701679
215  2020-08-24     8605  3167323  260298   236122  5739724
216  2020-08-25     8759  3224547  261174   237583  5777710

In [4]:
population_data={'country': ['Albania', 'India', 'Italy', 'Germany', 'US'], 'population': [2877797, 1380004385, 60461826, 83783942, 331002651]}
population_df = pd.DataFrame(data=population_data)
population_df

   country  population
0  Albania     2877797
1    India  1380004385
2    Italy    60461826
3  Germany    83783942
4       US   331002651

In [5]:
population_df=population_df.set_index(['country']).T
population_df

country     Albania       India     Italy   Germany         US
population  2877797  1380004385  60461826  83783942  331002651

In [6]:
country_list = df_analyse.columns[1:]
country_list

Index(['Albania', 'India', 'Italy', 'Germany', 'US'], dtype='object')

In [7]:
def SIR_model(SIR,beta,gamma):
    ''' Simple SIR model
        S: susceptible population
        I: infected people
        R: recovered people
        beta: 
        
        overall condition is that the sum of changes (differnces) sum up to 0
        dS+dI+dR=0
        S+I+R= N (constant size of population)
    
    '''
    
    S,I,R=SIR
    dS_dt=-beta*S*I/N0          #S*I is the 
    dI_dt=beta*S*I/N0-gamma*I
    dR_dt=gamma*I
    return([dS_dt,dI_dt,dR_dt])

In [21]:
df_new = pd.DataFrame(columns = country_list,
                     index = ['N0', 'I0', 'S0', 'R0']) 
df_new.loc['N0'] = population_df

KeyError: 'population'

In [17]:
df_new

   Albania India Italy Germany   US
N0     NaN   NaN   NaN     NaN  NaN
I0     NaN   NaN   NaN     NaN  NaN
S0     NaN   NaN   NaN     NaN  NaN
R0     NaN   NaN   NaN     NaN  NaN